<div class="flex flex-col">
    @if(forecast){
    <h1 class="text-xl">{{forecast.forecast.forecastday.length}} day forecast for
        {{forecast.location.name}}-{{forecast.location.country}}</h1>
    @for(day of forecast.forecast.forecastday; track day.date){
    <div class="flex justify-center">
        <p class="flex flex-row items-center font-bold">Day: {{day.date}}</p>
        <div>
            <img [src]="day.day.condition.icon" [alt]="day.day.condition.text">
        </div>
        <div>
            <div>
                <p class="text-xs">Lowest</p>
                <p>{{day.day.mintemp_c}}°C</p>
            </div>
            <div>
                <p class="text-xs">Highest</p>
                <p>{{day.day.maxtemp_c}}°C</p>
            </div>
        </div>
    </div>
    }
    }
</div>