<div class="flex flex-col justify-between bg-repeat bg-cloud-pattern bg-cover bg-center min-h-screen"
    [ngClass]="{'bg-repeat bg-moon-pattern': forecast?.current?.is_day === 0, 'bg-repeat bg-cloud-pattern':  forecast?.current?.is_day === 1 || !forecast}">
    <div>
        <div>
            <div class="flex justify-center items-center">
                <img src="//cdn.weatherapi.com/weather/64x64/day/113.png" alt="Logo">
                <h1 class="text-3xl outlined-text">Angular Weather App</h1>
            </div>
            <app-forecast-form></app-forecast-form>
        </div>
        <div>
            <app-forecast></app-forecast>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>