<div class="flex flex-row justify-center bg-white bg-opacity-30">
    <div class="flex flex-col items-center w-20">
        <p class="text-xs font-bold">Humidity</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-droplet-half-2">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M7.502 19.423c2.602 2.105 6.395 2.105 8.996 0c2.602 -2.105 3.262 -5.708 1.566 -8.546l-4.89 -7.26c-.42 -.625 -1.287 -.803 -1.936 -.397a1.376 1.376 0 0 0 -.41 .397l-4.893 7.26c-1.695 2.838 -1.035 6.441 1.567 8.546z" />
            <path d="M5 14h14" />
        </svg>
        <p class="text-xs">{{forecast.day.avghumidity}}%</p>
    </div>
    <div class="flex flex-col items-center w-20">
        <p class="text-xs font-bold">Rain</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-droplet">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M7.502 19.423c2.602 2.105 6.395 2.105 8.996 0c2.602 -2.105 3.262 -5.708 1.566 -8.546l-4.89 -7.26c-.42 -.625 -1.287 -.803 -1.936 -.397a1.376 1.376 0 0 0 -.41 .397l-4.893 7.26c-1.695 2.838 -1.035 6.441 1.567 8.546z" />
        </svg>
        <p class="text-xs">{{forecast.day.daily_chance_of_rain}}%</p>
    </div>
    <div class="flex flex-col items-center w-20">
        <p class="text-xs font-bold">Gust</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wind">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 8h8.5a2.5 2.5 0 1 0 -2.34 -3.24" />
            <path d="M3 12h15.5a2.5 2.5 0 1 1 -2.34 3.24" />
            <path d="M4 16h5.5a2.5 2.5 0 1 1 -2.34 3.24" />
        </svg>
        <p class="text-xs">{{forecast.day.maxwind_kph}}km/h</p>
    </div>
    <div class="flex flex-col items-center w-20">
        <p class="text-xs font-bold">Sunrise</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-sunrise">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 17h1m16 0h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7m-9.7 5.7a4 4 0 0 1 8 0" />
            <path d="M3 21l18 0" />
            <path d="M12 9v-6l3 3m-6 0l3 -3" />
        </svg>
        <p class="text-xs">{{forecast.astro.sunrise}}</p>
    </div>
    <div class="flex flex-col items-center w-20">
        <p class="text-xs font-bold">Sunset</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-sunset">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 17h1m16 0h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7m-9.7 5.7a4 4 0 0 1 8 0" />
            <path d="M3 21l18 0" />
            <path d="M12 3v6l3 -3m-6 0l3 3" />
        </svg>
        <p class="text-xs">{{forecast.astro.sunset}}</p>
    </div>
    <div class="flex flex-col items-center w-20">
        <p class="text-xs font-bold">UV Index</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-uv-index">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 12h1m16 0h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7m-9.7 5.7a4 4 0 1 1 8 0" />
            <path d="M12 4v-1" />
            <path d="M13 16l2 5h1l2 -5" />
            <path d="M6 16v3a2 2 0 1 0 4 0v-3" />
        </svg>
        <p class="text-xs">{{forecast.day.uv}}</p>
    </div>
</div>
<app-forecast-by-hour [forecast]="forecast"></app-forecast-by-hour>