<div class="flex flex-col">
    <div class="flex justify-center" *ngIf="loading">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    @if(forecast){
    <h1 class="flex justify-center text-xl font-bold text-center mb-0">{{forecast.forecast.forecastday.length}} day
        forecast
        for
        {{forecast.location.name}}</h1>
    <h1 class="flex justify-center text-lg font-bold text-center mt-0  border-b-2">{{forecast.location.country}}</h1>
    @for(day of forecast.forecast.forecastday; track $index){
    <div class="flex justify-center align-middle border-b-2 bg-white bg-opacity-30">
        <div class="flex flex-col items-center justify-center w-36">
            <p class="text-md font-medium">
                {{day.date}}</p>
            <p class="text-xs text-wrap">{{day.day.condition.text}}</p>
        </div>
        <div class="mr-6">
            <img [src]="day.day.condition.icon" [alt]="day.day.condition.text">
        </div>
        <div>
            <div>
                <p class="text-xs font-bold">Lowest</p>
                <p class="text-sm">{{day.day.mintemp_c}}°C</p>
            </div>
            <div>
                <p class="text-xs font-bold">Highest</p>
                <p class="text-sm">{{day.day.maxtemp_c}}°C</p>
            </div>
        </div>
        @if(!forecastEdit[$index]){
        <div class="flex items-center cursor-pointer" (click)="changeEditStatus($index)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </div>
        }@else {
        <div class="flex items-center cursor-pointer" (click)="changeEditStatus($index)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>
        </div>
        }
    </div>
    @if(forecastEdit[$index]){
    <app-forecast-more [forecast]="forecast.forecast.forecastday[$index]" />
    }
    }
    }
</div>