@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.outlined-text {
  @apply text-black;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}
